<div>
  <form>
    <div class="form-group">
      <label for="fullName">Nom complet</label>
      <input type="text" id="fullName" name="fullName" required placeholder="Entrez votre nom complet"/>
    </div>

    <div class="form-group">
      <label for="username">Nom d'utilisateur</label>
      <input type="text" id="username" name="username" required placeholder="Entrez votre nom d'utilisateur"/>
    </div>

    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input type="password" id="password" name="password" required placeholder="Entrez votre mot de passe"/>
    </div>

    <div class="form-group">
      <label for="role">Rôle</label>
      <select id="role" name="role" required>
        <option value="">-- Sélectionnez un rôle --</option>
        <option value="ADMIN">Admin</option>
        <option value="USER">Utilisateur</option>
        <!-- Ajoutez d'autres rôles si nécessaire -->
      </select>
    </div>

    <button type="submit" >S'inscrire</button>
  </form>
</div>
